<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/strategy/cover-page.png`)})` }">
    <div class="hero-body">
      <button class="button is-large is-choice is-uppercase is-right is-start" @click="gotoIntroduction">Start</button>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Home',
    methods: {
      playSoundEffect () {
        const soundEffect = document.querySelector('audio')
        soundEffect.src = require(`@/assets/audio/marching.mp3`)
        soundEffect.load()

        soundEffect.play()
      },
      gotoIntroduction () {
        this.playSoundEffect()

        this.$router.push('/introduction')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .is-right {
    position: absolute;
    bottom: 2.5vh;
    right: 2.5vh;
  }

  .is-choice {
    font-size: calc(16px + 0.5vw);
  }
</style>
