<template>
  <section class="section"
           :style="{ background: `url(${require(`@/assets/images/sergeant/sergeant.png`)}) bottom no-repeat, url(${require(`@/assets/images/sergeant/sergeant-scene.png`)}) no-repeat`, backgroundSize: 'contain, cover' }">
    <div class="column is-5-desktop sergeant-speech">
      <p class="content">
        Welcome, Lieutenant. Heard that you have just graduated from the military school. The General
        needs your opinion on some matters. But before that, let's refresh your memory on military strategies.
      </p>
    </div>

    <div class="column is-4-desktop">
      <button class="button is-size-5 is-choice is-uppercase" @click="gotoStrategy">View the Military
        Strategies!
      </button>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'introduction',
    methods: {
      playSoundEffect () {
        const soundEffect = document.querySelector('audio')
        soundEffect.src = require(`@/assets/audio/door-open.mp3`)
        soundEffect.load()

        soundEffect.play()
      },
      gotoStrategy () {
        this.playSoundEffect()

        this.$router.push('/strategy')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .sergeant-speech {
    background-color: #1d1d1d;
    color: #f0dbb8;
    clip-path: polygon(89% 4%, 89% 62%, 98% 74%, 89% 74%, 89% 96%, 1% 98%, 1% 2%);
    padding: 5% 10% 5% 5%;
  }

  p {
    font-size: 1.25rem;
  }
</style>
