<template>
  <section class="section" :style="{ background: `url(${require(`@/assets/images/general/ready.png`)}) bottom no-repeat,
  url(${require(`@/assets/images/general/bg-one.jpg`)}) no-repeat`, backgroundSize: 'contain, cover' }">
    <div class="column is-5-desktop is-offset-7-desktop animated fadeIn">
      <div class="speech">
        <p class="content">Soldier! I heard you were the best in your class during training.
          <br>
          I have some tough questions for you.
          <br>
          Do not disappoint me.
        </p>

        <span class="is-size-3">Are you ready?</span>
      </div>
    </div>

    <div class="column is-4-desktop is-offset-8-desktop animated fadeIn">
      <div class="is-large is-choice is-uppercase has-margin goto-quiz" @click="gotoQuiz" @mouseover="onMouseOver">
        Yes Sir! <br>
        <small>(Go to the Board)</small>
      </div>

      <div class="is-large is-choice is-uppercase has-margin goto-strategy" @click="gotoStrategy"
           @mouseover="onMouseOver">
        I'm not ready <br>
        <small>(Return to the Military Strategies)</small>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'quiz-instruction',
    methods: {
      playSoundEffect (path) {
        const soundEffect = document.querySelector('audio')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      },
      onMouseOver () {
        this.playSoundEffect(require(`@/assets/audio/hover.mp3`))
      },
      gotoQuiz () {
        this.playSoundEffect(require(`@/assets/audio/yes-sir.mp3`))

        this.$router.push('/quiz/1')
      },
      gotoStrategy () {
        this.playSoundEffect(require(`@/assets/audio/marching.mp3`))

        this.$router.push('/strategy')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .has-margin {
    margin: 2.5%;
  }

  .is-choice {
    padding: 2%;
    border: 1px solid #a87d53;
  }
</style>
