<template>
  <section class="section">
    <img :src="require(`@/assets/images/general/${quiz.map}`)" class="is-fixed is-top-left"
         width="50%" height="50%" :alt="`Image of ${quiz.name}`">

    <transition enter-active-class="animated fadeIn">
      <img :key="showImage" :src="require(`@/assets/images/general/${showImage}`)"
           class="has-absolute-position is-bottom is-right"
           width="60%" height="60%" :alt="`Image of ${quiz.name}`">
    </transition>

    <div class="columns is-vcentered has-padding background-fade is-fixed is-bottom"
         v-if="!showAnswerResponse">
      <div class="column is-two-thirds">
        <p class="content is-size-4">{{ quiz.question }}</p>
      </div>

      <div class="column">
        <button class="button is-choice button-choice" :option="option" :disabled="isSelectedAnswer(option)"
                :key="answer.id" v-for="(answer, option) in quiz.answers"
                @click="checkAnswer(quizIndex, option)" @mouseover="onMouseOver">
          {{ answer.text }}
        </button>
      </div>
    </div>

    <div class="columns is-vcentered has-padding background-fade is-fixed is-bottom" v-else>
      <div class="column" v-if="isWrongAnswer">
        <p class="content is-size-4">{{ quiz.answers[selectedOption].response }}</p>
      </div>

      <div class="column is-four-fifths" v-if="!isWrongAnswer">
        <p class="content is-size-4">
          {{ answerResponse ? quiz.correct.response : quiz.answers[selectedOption].response }}
        </p>

        <label :for="`text-answer-${quizIndex}`" class="is-size-4">Your response</label>
        <textarea :name="`text-answer-${quizIndex}`" :id="`text-answer-${quizIndex}`" class="textarea"
                  :class="[ textLength < 10 ? 'is-danger' : 'is-success' ]" cols="15" rows="5" minlength="10"
                  :maxlength="textCharactersLimit" placeholder="Enter your text here" :disabled="answerResponse"
                  @input="onTextChange"></textarea>

        <p class="content">{{ textLength }} / {{ textCharactersLimit }} characters</p>
      </div>

      <div class="column">
        <button class="button is-large is-choice button-continue" :disabled="textEmpty && !isWrongAnswer"
                @click="computeAnswers(isWrongAnswer, quizIndex)" @mouseover="onMouseOver">
          {{ isWrongAnswer ? 'Try again' : 'Continue' }}
        </button>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'quiz',
    beforeRouteEnter (to, from, next) {
      window.localStorage.clear()

      next(vm => {
        const answers = window.localStorage.getItem('answers')

        if (!answers) vm.$router.push('/quiz/1')
      })
    },
    beforeRouteUpdate (to, from, next) {
      this.isWrongAnswer = false
      this.selectedOption = null
      this.showAnswerResponse = false
      this.answerResponse = false
      this.textEmpty = true
      this.textLength = 0
      next()
    },
    data () {
      return {
        isWrongAnswer: false,
        showAnswerResponse: false,
        answerResponse: false,
        selectedOption: null,
        textEmpty: true,
        textLength: 0,
        textCharactersLimit: 500
      }
    },
    computed: {
      ...mapState(['quizzes']),
      routeId () {
        return parseInt(this.$route.params.id)
      },
      quizIndex () {
        return this.routeId - 1
      },
      quiz () {
        return this.quizzes[this.quizIndex]
      },
      showImage () {
        if (this.selectedOption) {
          return this.quiz.answers[this.selectedOption].image
        } else {
          return this.quiz.image
        }
      }
    },
    methods: {
      playSoundEffect (path) {
        const soundEffect = document.querySelector('audio')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      },
      onMouseOver (ev) {
        if (!ev.target.disabled) this.playSoundEffect(require(`@/assets/audio/hover.mp3`))
      },
      checkAnswer (quiz, option) {
        this.playSoundEffect(require(`@/assets/audio/click.mp3`))
        const getQuiz = this.quizzes[quiz]

        getQuiz.selectedAnswers.push(option)

        this.selectedOption = option
        this.showAnswerResponse = true

        this.isWrongAnswer = getQuiz.correct.option !== option
      },
      isSelectedAnswer (option) {
        const getQuiz = this.quiz

        return getQuiz.selectedAnswers.some(answer => answer === option)
      },
      onTextChange (ev) {
        const text = document.getElementById(`${ev.target.id}`)

        this.textLength = text.value.length

        this.textEmpty = this.textLength < 10
      },
      computeAnswers (answer, quizIndex) {
        this.playSoundEffect(require(`@/assets/audio/click.mp3`))
        const text = document.getElementById(`text-answer-${quizIndex}`)

        switch (answer) {
          case true:
            this.tryAgain()
            break
          case false:
            if (!text.disabled) this.saveAnswer(quizIndex)

            if (text.disabled) {
              this.goNext()
            } else {
              this.answerResponse = true
            }
            break
          default:
            break
        }
      },
      saveAnswer (quizIndex) {
        const answerText = document.getElementById(`text-answer-${quizIndex}`)

        let answersArray = []

        if (window.localStorage.getItem('answers')) {
          answersArray = JSON.parse(window.localStorage.getItem('answers'))
        }

        const answer = {
          id: quizIndex,
          answer: answerText.value
        }

        answersArray.push(answer)

        window.localStorage.setItem('answers', JSON.stringify(answersArray))
      },
      goNext () {
        const incrementedRouteId = this.routeId + 1

        if (this.quizzes.length >= incrementedRouteId) {
          this.$router.push(`/quiz/${incrementedRouteId}`)
        } else if (this.quizIndex >= this.quizzes.length - 1) {
          this.$router.push('/summary')
        }
      },
      tryAgain () {
        this.showAnswerResponse = !this.showAnswerResponse
        this.selectedOption = null
        this.isWrongAnswer = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background: url("./../assets/images/general/bg-two.png") no-repeat;
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;
  }

  textarea {
    color: #fff;
    background-color: transparent;

    &:disabled {
      color: #fff;
      background-color: transparent;
    }

    &::placeholder {
      color: #fff;
    }
  }

  .has-absolute-position {
    position: absolute;

    &.is-top {
      top: 0;
    }

    &.is-bottom {
      bottom: 0;
    }

    &.is-right {
      right: 0;
    }
  }

  .is-fixed {
    position: absolute;
    left: 0;
    right: 0;

    &.is-top-left {
      left: 0;
      top: 0;
      opacity: 0.7;
    }

    &.is-right {
      right: 0;
      -webkit-animation-duration: 2.5s;
      -moz-animation-delay: 2.5s;
    }

    &.is-bottom-left {
      font-size: 18px;
      left: 0;
      bottom: 2.5vh;
    }

    &.is-bottom {
      bottom: 2.5vh;
    }

    &.is-bottom-right {
      right: 0;
      bottom: 0;
    }
  }

  .is-button {
    &.is-bottom-right {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 10% 5% 10%;
      z-index: 999;
    }
  }

  .has-padding {
    padding: 0 2.5%;
  }

  .background-fade {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .button-choice {
    width: 100%;

    &:disabled {
      background-color: rgba(0, 0, 0, 0.5);
      color: #a87d53;
    }
  }

  .button-continue {
    &:disabled {
      background: rgba(255, 255, 255, 0.5);
      opacity: 0.5;
    }
  }
</style>
