<template>
  <section class="section"
           :style="{ backgroundImage: `url(${require(`@/assets/images/sergeant/sergeant-scene.png`)})` }">
    <div class="container">
      <h1 class="title is-light">Report</h1>
      <div class="columns">
        <div class="column">
          <div class="card has-margin" :key="quiz.id" v-for="(quiz, index) in quizzes">
            <header class="card-header">
              <p class="card-header-title is-light">{{ quiz.id }}. {{ quiz.question }}</p>
            </header>

            <div class="card-content">
              <div class="columns">
                <div class="column" style="border-right: 0.5px solid white">
                  <span class="has-text-weight-bold">Your response: ({{ quiz.correct.text }})</span>
                  <p class="content" v-if="answers.length > 0">{{ answers[index].answer }}</p>
                </div>

                <div class="column">
                  <span class="has-text-weight-bold">Suggested Answer:</span>
                  <p class="content">{{ quiz.correct.response }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="has-text-centered no-print">
        <button class="button is-choice is-large is-print" @click="printPage" @mouseover="onMouseOver">
          Save/Print as PDF
        </button>

        <button class="button is-choice is-large is-restart" @click="restart" @mouseover="onMouseOver">Restart</button>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import router from '@/router'

  export default {
    name: 'report',
    data () {
      return {
        answers: []
      }
    },
    computed: {
      ...mapState(['quizzes'])
    },
    mounted () {
      this.loadAnswersFromLocalStorage()
    },
    methods: {
      playSoundEffect (path) {
        const soundEffect = document.querySelector('audio')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      },
      loadAnswersFromLocalStorage () {
        this.answers = JSON.parse(window.localStorage.getItem('answers'))
      },
      printPage () {
        this.clickAudio()

        window.print()
      },
      restart () {
        this.clickAudio()

        window.location = router.options.base
      },
      onMouseOver () {
        this.playSoundEffect(require(`@/assets/audio/hover.mp3`))
      },
      clickAudio () {
        this.playSoundEffect(require(`@/assets/audio/click.mp3`))
      }
    }
  }
</script>

<style lang="scss" scoped>
  h1 {
    text-align: center;
    color: #281c16;
  }

  .card {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  }

  .card-header {
    border-bottom: thin solid white;
  }

  .has-margin {
    margin: 2rem 0;
  }

  .is-light {
    color: #fff;
  }
</style>
