<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeFileModal"></div>

    <div class="modal-card is-file">
      <header class="modal-card-head file-head">
        <p class="modal-card-title has-text-weight-bold is-uppercase">{{ selectedStrategy.title }}</p>
      </header>

      <div class="modal-card-body columns file-body">
        <div class="column is-4-desktop">
          <p class="content">{{ selectedStrategy.text }}</p>

          <button type="button" class="button is-choice is-size-4" @click="closeFileModal">Back</button>
        </div>

        <div class="column is-8-desktop">
          <img :src="require(`@/assets/images/strategy/${ selectedStrategy.image }`)" class="is-folder"
               :alt="selectedStrategy.title" v-if="hasStrategy">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'StrategyModal',
    props: {
      strategy: Object,
      isActive: Boolean
    },
    computed: {
      ...mapState(['selectedStrategy']),
      hasStrategy () {
        return Object.keys(this.selectedStrategy).map(strategy => this.selectedStrategy[strategy]).length > 0
      }
    },
    methods: {
      closeFileModal () {
        this.$emit('closeFileModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .is-file {
    border: 10px solid #e5d9c1;
    background-color: #e5d9c1;
    padding: 5vh 0;

    > .file-head, .file-body {
      background-color: #f7f5ea;
    }
  }
</style>
