<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/strategy/strategy-file.png`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="buttons">
          <div class="is-cover-file has-text-centered" :key="strategy.id" v-for="strategy in strategies"
               @click="openFileModal(strategy)">
            <img :src="require(`@/assets/images/strategy/${strategy.cover}`)" class="is-folder"
                 :alt="`Image of ${strategy.title}`">
          </div>
        </div>

        <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
          <strategy-modal :key="isActive" :is-active="isActive" @closeFileModal="closeFileModal"
                          v-if="selectedStrategy"/>
        </transition>

        <div class="column has-text-centered animated fadeIn">
          <button class="button is-choice is-large is-uppercase is-next" @click="gotoReady">Ready!</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import StrategyModal from './StrategyModal'

  export default {
    name: 'strategy',
    components: {
      StrategyModal
    },
    data () {
      return {
        isActive: false
      }
    },
    computed: {
      ...mapState(['strategies', 'selectedStrategy'])
    },
    mounted () {
      window.addEventListener('keyup', e => {
        if (e.keyCode === 27) this.closeFileModal()
      })
    },
    methods: {
      playSoundEffect (path) {
        const soundEffect = document.querySelector('audio')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      },
      openFileModal (strategy) {
        this.playSoundEffect(require(`@/assets/audio/file-open.mp3`))

        this.$store.commit('setSelectedStrategy', strategy)

        this.isActive = true
      },
      closeFileModal () {
        this.playSoundEffect(require(`@/assets/audio/file-close.mp3`))

        this.isActive = false
      },
      gotoReady () {
        this.playSoundEffect(require(`@/assets/audio/door-open.mp3`))

        this.$router.push('/ready')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .is-cover-file {
    margin: 5% auto 0 auto;
  }

  .is-folder {
    width: 35vmin;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
      animation: glow 0.5s alternate infinite;
      transform: rotate(5deg);
    }
  }

  @keyframes glow {
    0% {
      -webkit-filter: saturate(3);
      filter: saturate(3);
    }
    100% {
      -webkit-filter: saturate(4);
      filter: saturate(4);
    }
  }
</style>
