<template>
  <section class="section" :style="{ background: `url(${require(`@/assets/images/sergeant/sergeant.png`)}) bottom no-repeat,
  url(${require(`@/assets/images/sergeant/sergeant-scene.png`)}) no-repeat`, backgroundSize: 'contain, cover' }">
    <div class="column is-5-desktop sergeant-speech animated fadeIn">
      <p class="content is-size-5">
        Well, I hope that helped.
        <br>
        Now, the General has some questions for you. Let's GO!
      </p>
    </div>

    <div class="column is-4-desktop animated fadeIn">
      <button class="button is-choice is-size-4 is-uppercase" @click="gotoQuizInstruction">
        Go and see the General!
      </button>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'strategy-ready',
    methods: {
      playSoundEffect () {
        const soundEffect = document.querySelector('audio')
        soundEffect.src = require(`@/assets/audio/marching.mp3`)
        soundEffect.load()

        soundEffect.play()
      },
      gotoQuizInstruction () {
        this.playSoundEffect()

        this.$router.push('/quiz')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .sergeant-speech {
    background-color: #1d1d1d;
    color: #f0dbb8;
    clip-path: polygon(89% 4%, 89% 62%, 98% 74%, 89% 74%, 89% 96%, 1% 98%, 1% 2%);
    padding: 5% 10% 5% 5%;
  }
</style>
