<template>
  <section class="section" :style="{ background: `url(${require(`@/assets/images/general/ready.png`)}) bottom no-repeat,
  url(${require(`@/assets/images/general/bg-one.jpg`)}) no-repeat`, backgroundSize: 'contain, cover' }">
    <div class="column is-5-desktop is-offset-7-desktop animated fadeIn">
      <div class="speech">
        <p class="content">
          Well, you have certainly helped me out today. That is all for now. You may go about the rest of your
          business.
        </p>

        <p class="content">Dismissed!</p>
      </div>
    </div>

    <div class="column is-4-desktop is-offset-8-desktop animated fadeIn">
      <button class="button is-choice is-large is-pulled-right" @click="gotoReport" @mouseover="onMouseOver">
        Report
      </button>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'summary-view',
    methods: {
      playSoundEffect (path) {
        const soundEffect = document.querySelector('audio')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      },
      onMouseOver () {
        this.playSoundEffect(require(`@/assets/audio/hover.mp3`))
      },
      gotoReport () {
        this.playSoundEffect(require(`@/assets/audio/yes-sir.mp3`))

        this.$router.push('/report')
      }
    }
  }
</script>

<style lang="scss" scoped>
  p {
    font-size: 1.5em;
  }
</style>
