<template>
  <div id="app">
    <transition enter-active-class="animated fadeIn">
      <router-view/>
    </transition>

    <audio></audio>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import config from '../package.json'

  export default {
    name: 'App',
    computed: {
      ...mapState(['version', 'hasBGM'])
    },
    mounted () {
      this.$store.commit('setVersion', config.version)

      this.$on('playAudio')
    },
    methods: {
      playAudio (path) {
        const soundEffect = document.getElementById('sound-effect')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  html, body {
    background-color: #000;
  }

  section {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  #app {
    opacity: 1;

    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
  }

  @media print {
    .no-print {
      display: none;
    }
  }

  .is-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
  }

  .speech {
    background-color: #1d1d1d;
    color: #f0dbb8;
    padding: 10%;
    clip-path: polygon(99% 2%, 99% 98%, 11% 93%, 11% 78%, 1% 84%, 11% 71%, 11% 7%);

    > * {
      padding-left: 10%;
    }
  }

  .button {
    &:focus {
      border-color: #a87d53;
      background-color: #1d1d1d;
      color: #f0dbb8;
    }
  }

  .is-choice {
    text-align: center;
    background-color: #1d1d1d;
    color: #f0dbb8;
    border-color: #a87d53;
    transition-duration: 0.4s;
    cursor: pointer;

    &:disabled {
      &:hover {
        background-color: #1d1d1d;
        color: #f0dbb8;
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &:hover {
      background-color: #635646;
      color: #f0dbb8;
    }
  }
</style>
